absl-py==1.2.0
appdirs==1.4.4
arabic-reshaper==2.1.3
asgiref==3.4.1
attrs==22.1.0
cachetools==5.2.0
cattrs==1.5.0
certifi==2021.10.8
charset-normalizer==2.0.7
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==8.0.3
cloudpickle==2.1.0
config==0.5.1
decouple==0.0.7
distlib==0.3.2
dj-database-url==0.5.0
Django==3.2.5
django-ckeditor==6.4.2
django-crispy-forms==1.12.0
django-filter==21.1
django-heroku==0.3.1
django-js-asset==2.0.0
django-mathfilters==1.0.0
django-tinymce4-lite==1.8.0
ez-setup==0.9
filelock==3.0.12
future==0.18.2
google-auth==2.9.1
google-auth-oauthlib==0.4.6
grpcio==1.48.0
gunicorn==20.1.0
html5lib==1.1
idna==3.3
importlib-metadata==4.12.0
joblib==1.1.0
jsmin==3.0.1
Markdown==3.4.1
MarkupSafe==2.1.1
mathparse==0.1.2
mongoengine==0.24.2
mysql-connector==2.2.9
nltk==3.6.5
oauthlib==3.2.0
packaging==21.3
pbr==5.6.0
PettingZoo==1.19.0
php==1.2.1
Pillow==8.3.1
Pint==0.18
protobuf==3.19.4
psycopg2==2.9.1
psycopg2-binary==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==3.12.3
pyparsing==3.0.6
PyPDF2==1.26.0
python-bidi==0.4.2
python-dateutil==2.7.5
python-decouple==3.6
pytz==2021.1
PyYAML==3.13
regex==2021.11.10
reportlab==3.6.1
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.9
scipy==1.9.0.dev0+1049.c9cdbf2
Serializer==0.2.1
simplejson==3.17.5
six==1.16.0
SQLAlchemy==1.2.19
sqlparse==0.4.1
stevedore==3.3.0
supertools==1.0.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.0.0
torch==1.8.1
tqdm==4.62.3
typing_extensions==4.3.0
urllib3==1.26.7
virtualenv==20.4.7
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
webencodings==0.5.1
Werkzeug==2.2.1
whitenoise==5.3.0
xhtml2pdf==0.2.5
zipp==3.8.1
