.myform{
	box-shadow: 10px 10px 10px;
	box-shadow: 12px 12px 12px #2e6da4;
	border: 1px solid #2e6da4;
	padding: 50px;
	padding-bottom: 20px;
	margin-top: 80px;

}



.chart{


  width: 50px;
  height: 50px;
  background-color: red;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; /* Apply negative top and left margins to truly center the element */


}

