{% extends 'base.html' %}
{% block content %}
    <div class="container">
  <!-- Content here -->
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="container">
                  <div class="row row-cols-2">
                    <div class="col">
                        <figure class="figure">
                          <img src="#" class="figure-img img-fluid rounded" alt="...">
                          <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="figure">
                          <img src="#" class="figure-img img-fluid rounded" alt="...">
                          <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="figure">
                          <img src="#" class="figure-img img-fluid rounded" alt="...">
                          <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                    </div>
                    <div class="col">
                        <figure class="figure">
                          <img src="#" class="figure-img img-fluid rounded" alt="...">
                          <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure>
                    </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}